<div class="post-entry__header"><%- partial('_meta/thumbnail') %></div>
<div class="post-entry__content">
    <h2 class="post-entry__title">
        <%= post.title || theme.meta.title %>
    </h2>
    <% if (post.excerpt) { %>
        <%- post.excerpt %>
    <% } else if (post.description) { %>
        <p>
            <%- strip_html(post.description) %>
        </p>
    <% } else if (theme.meta.auto_excerpt.enable) { %>
        <p>
            <%- strip_html(truncate(post.content, {length: theme.meta.auto_excerpt.length})) %>
        </p>
    <% } %>
</div>
<div class="post-entry__meta">
    <%- partial('_meta/date') %>
    <%- partial('_meta/categories') %> 
</div>
<%- partial('_meta/tags') %> 
<a href="<%= url_for(post.link || post.path) %>" class="post-entry__link"><%= post.title || theme.meta.title %></a>