<div class="post-card__header">
        <%- partial('_meta/thumbnail') %> 
</div>
<div class="post-card__content">
    <a href="<%- url_for(post.link || post.path) %>" class="index-title">
        <h2 class="post-card__title">
            <%- post.title || theme.meta.title %>
        </h2>
    </a>
    <div class="post-card__descrption">
        <% if (post.excerpt) { %>
            <%- post.excerpt %>
        <% } else if (post.description) { %>
            <p>
                <%- strip_html(post.description) %>
            </p>
        <% } else if (theme.meta.auto_excerpt.enable) { %>
            <p>
                <%- strip_html(truncate(post.content, {length: theme.meta.auto_excerpt.length})) %>
            </p>
        <% } %>
    </div>
</div>
<div class="post-card__meta">
    <%- partial('_meta/date') %>
    <%- partial('_meta/category') %> 
</div>
<%- partial('_meta/tags') %> 
<a href="<%- url_for(post.link || post.path) %>" class="post-card__link">Link</a>