<% if (site.posts && site.posts.length > 0) { %>
    <div class="posts">
        <% if (page.posts && page.posts.length > 0) { %>
            <% page.posts.each((post) => { %>
                <div class='post-entry content-card'>
                    <%- partial('./post-entry', {post: post}) %>
                </div>
            <% }) %>
        <% } %>
    </div>
    <% if (page && page.posts) { %>
        <% if (page.total > 1) { %>
            <nav role="navigation" aria-label="Pagination Navigation">
                <% if (page.prev != 0) { %>
                    <div class="pagination_prev">
                        <a href="<%- url_for(page.prev_link) %>" class="button">
                            <%- __('symbol.angle_l') %><%- __('post.prev_page') %>
                        </a>
                    </div>
                <% } %>
                <% if (page.next != 0) { %>
                    <div class="pagination_next">
                        <a href="<%- url_for(page.next_link) %>" class="button">
                            <%- __('post.next_page') %><%- __('symbol.angle_r') %>
                        </a>
                    </div>
                <% } %>
            </nav>
        <% } %>
    <% } %>
<% } %>
