<!DOCTYPE html>
<html lang="<%- config.language%>">
    <%- partial('_partial/head') %>
    <body>
        <div id="app">
            <%- partial('_partial/cover') %>
            <%- body %>
        </div>
        <%- partial('_partial/scripts') %>
    </body>
</html>
