<!DOCTYPE html>
<html lang="<%- config.language%>">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover') %>
  <div id="app">
    <%- body %>
  </div>
  <%- partial('_partial/scripts') %>
</body>
</html>
