<% if (page.comments && theme.comments.use) { %>
    <h4><%= __('post.comments') %></h4>
    <%- partial('./disqus/main') %>
    <%- partial('./disqusjs/main') %>
    <%- partial('./valine/main') %>
    <%- partial('./minivaline/main') %>
    <%- partial('./gitalk/main') %>
    <%- partial('./gitment/main') %>
    <%- partial('./artalk/main') %>
    <%- partial('./livere/main') %>
    <%- partial('./changyan/main') %>
    <%- partial('./wildfire/main') %>
    <%- partial('./twikoo/main') %>
<% } else { %>
    <% page.comments = false; %>
<% } %>
