<% if (theme.comments.use==='giscus' ) { %>
    <div id="giscus_container">
        <script src="https://giscus.app/client.js"
                data-repo="<%- theme.comments.giscus.repo ? theme.comments.giscus.repo : '' %>"
                data-repo-id="<%- theme.comments.giscus.repoId ? theme.comments.giscus.repoId : '' %>"
                data-category="<%- theme.comments.giscus.category ? theme.comments.giscus.category : '' %>"
                data-category-id="<%- theme.comments.giscus.categoryId ? theme.comments.giscus.categoryId : '' %>"
                data-mapping="<%- theme.comments.giscus.mapping ? theme.comments.giscus.mapping : 'pathname' %>"
                data-strict="<%- theme.comments.giscus.strict ? '1' : '0' %>"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="<%- theme.comments.giscus.position ? theme.comments.giscus.position : 'top' %>"
                data-theme="<%- theme.comments.giscus.theme ? theme.comments.giscus.theme : 'light' %>"
                data-lang="<%- theme.comments.giscus.lang ? theme.comments.giscus.lang : 'zh-CN' %>"
                data-loading="lazy"
                crossorigin="anonymous" async></script>
    </div>
<% } %>