<% if (site.posts && site.posts.length > 0) { %>
    <div class="posts">
        <% if (page.posts && page.posts.length > 0) { %>
            <% page.posts.each((post) => { %>
                <div class='post-card content-card'>
                    <%- partial('post', {post: post}) %>
                </div>
            <% }) %>
        <% } %>
    </div>
    <% if (page && page.posts) { %>
        <% if (page.total > 1) { %>
            <br>
            <nav role="navigation" aria-label="Pagination Navigation">
                <% if (page.prev != 0) { %>
                    <a href="<%- url_for(page.prev_link) %>" class="button">
                        <%- __('symbol.angle_l') %><%- __('post.prev_page') %>
                    </a>
                <% } %>
                <span><%= page.current%> / <%= page.total%></span>
                <% if (page.next != 0) { %>
                    <a href="<%- url_for(page.next_link) %>" class="button">
                        <%- __('post.next_page') %><%- __('symbol.angle_r') %>
                    </a>
                <% } %>
            </nav>
        <% } %>
    <% } %>
<% } %>
