<%- partial('header', null, {cache: false, path: path}) %>
<% if (is_home() || is_tag() || is_category() || is_archive() || page.layout === 'tag' || page.layout === 'category' || page.layout === 'links') { %>
    <div class="cover">
        <div class="cover__logo">
            <% if (theme.cover.logo) { %>
                <img no-lazy alt="author Image" src="<%- theme.cover.logo %>">
            <% } else if (theme.cover.sitename) { %>
                <h1><%- theme.cover.sitename %></h1>
            <% } else if (config.title) { %>
                <h1><%- config.title %></h1>
            <% } %>
        </div>
        <% if (theme.cover.description) { %>
            <div class="cover__intro">
                <%- markdown(theme.cover.description) %> 
            </div>
        <% } %>
    </div>
<% } %>