<div class="post-card__header">
    <% if (theme.layout.post.header.indexOf('thumbnail') != -1) { %>
        <%- partial('_meta/thumbnail') %> 
    <% } %>
</div>
<div class="post-card__content">
    <a href="<%- url_for(post.link || post.path) %>" class="index-title">
        <h2 class="post-card__title">
            <%- post.title ? post.title : date(post.date, theme.meta.date.format) %>
        </h2>
    </a>
    <p class="post-card__descrption">
        <div class="markdown-body">
            <%- post.excerpt || post.description %>
        </div>    
    </p>
</div>
<div class="post-meta post-card__meta">
    <% if (theme.layout.meta.indexOf('date') != -1) { %>
        <%- partial('_meta/date') %>
    <% } %>
    <% if (theme.layout.meta.indexOf('categories') != -1) { %>
        <%- partial('_meta/categories') %> 
    <% } %>
</div>
<% if (theme.layout.meta.indexOf('tags') != -1) { %>
    <%- partial('_meta/tags') %> 
<% } %>
