<header class="header">
    <div class="header__left">
        <a href="<%= url_for('/') %>" class="button">
            <span class="logo__text"><%= theme.navbar.sitename || config.title %></span>
        </a>
    </div>
    <div class="header__right">
        <% if (theme.navbar.menu && theme.navbar.menu.forEach) { %>
            <div class="navbar__menus">
                <% theme.navbar.menu.forEach((item) => { %>
                    <a href="<%= url_for(item.url) %>" class="navbar-menu button"><%= item.name %></a>
                <% }); %>
            </div>
        <% } %>
        
        <%- partial('_plugins/search/local-search/main') %>
        
        <%- partial('_plugins/darkmode/main') %>

        <% if (theme.navbar.menu && theme.navbar.menu.forEach) { %>
            <a class="dropdown-icon button" id="btn-dropdown" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width='24' height='24' fill="none" stroke="currentColor" stroke-width="0.7" stroke-linecap="round" stroke-linejoin="round"><path fill="currentColor" d="M3.314,4.8h13.372c0.41,0,0.743-0.333,0.743-0.743c0-0.41-0.333-0.743-0.743-0.743H3.314c-0.41,0-0.743,0.333-0.743,0.743C2.571,4.467,2.904,4.8,3.314,4.8z M16.686,15.2H3.314c-0.41,0-0.743,0.333-0.743,0.743s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,15.2,16.686,15.2z M16.686,9.257H3.314c-0.41,0-0.743,0.333-0.743,0.743s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,9.257,16.686,9.257z"></path></svg></a>
            <div class="dropdown-menus" id="dropdown-menus">
                <% theme.navbar.menu.forEach((item) => { %>
                    <a href="<%= url_for(item.url) %>" class="dropdown-menu button"><%= item.name %></a>
                <% }); %>
            </div>
        <% } %>
    </div>
</header>
